<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malaria Chatbot System</title>
     <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
</head>
<body class="text-center">
   
    
    <div class="container mt-5">
      
        <div class="jumbotron">
             <h1> WELCOME TO MALARIA DIAGNOSIS SYSTEM </h1>
        
                      <p class="alert alert-primary"> A Malaria Chatbot System that help user diagnose malaria related disease.</p>
                      <a href="/register"> <button class="btn btn-lg btn-primary mr-5">Register </button></a>     <a href="/login"> <button class="btn btn-lg btn-primary mr-5" >Login</button></a>
    </div>
  
    <footer>
        Project by ABDULLAHI ABASS OLABISI 2021
    </footer>
</body>
</html>