<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malaria ChatbotLogin</title>
     <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    

</head>
<body class="text-center">
   <h1>Malaria Disgnosis System</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
 
            </div>
        
      <div class="card" style="width: 25em;">
        <div class="card-header bg-primary text-white">
        <h3>Malaria Chatbot Login</h3>
        <small>login and dignoses Malaria</small>
        </div>
        <form>

        <div class="card-body">
        
 <div class="form-group">
            <input type="email" name="" id="userName" class="form-control"  placeholder="email" required/>
</div>
<div class="form-group">
            <input type="password" class="form-control"  id= "userPw"  placeholder="password"/>
</div>
<div id="remember">
            <input type="checkbox" value="lsRememberMe" id="rememberMe"
                   style="display: inline-block;">
            <label>Remember me</label>

             <p>Not yet have an account? <a href="/register">Signup</a></p>
        </div>

       
<div class="form-group">
            <input id= "login_btn" type="submit" value="Login" onclick="check()" class="btn btn-sucess">
            </div>
          </div>
          </form>
        </div>
      </div>
      </div>
    </div>
      <script src="static/loginsystem.js"></script>
</body>
</html>