<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Malaria chatbot</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
  </head>
  <body class="text-center">
    <h1>Malaria Disgnosis System</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
 
            </div>
        
      <div class="card" style="width: 25em;">
        <div class="card-header bg-primary text-white">
        <h3>Malaria Chatbot Register</h3>
        <small>create account and dignoses Malaria</small>
        </div>
          <form>
        <div class="card-body">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="name" id="loginname" />
 </div>

 <div class="form-group">
            <input type="email" name="" id="name" class="form-control"  placeholder="email"/>
</div>
<div class="form-group">
            <input type="password" class="form-control"  placeholder="password"  id= "pw" />
</div>
<div class="form-group">
               <input id="rgstr_btn" type="submit" value="Register" onclick="store()" class="btn btn-success">
            </div>
            <p>already have an account? <a href="/login">Login</a></p>
          </div>
        </form>
        </div>
      </div>
      </div>
    </div>
     <script src="static/loginsystem.js"></script>
  </body>
</html>
